.title{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title p {
    margin-top: 20px;
}
.title h2{
    font-size: 32px;
    margin-top: 5px;
    color: #000F38;
    text-transform: none;
}